body {
    background-color: rgba(0, 0, 0, 0.835);
    margin: 0;
}

.container {
    max-width: 1240px;
    margin: 5% 10%;
}

h1 {
    color: white;
    font-size: 1.5rem;
}

.display {
    background-color: white;
    height: 70vh;
    overflow-y: scroll;
}

form {
    display: flex;
    flex-direction: column;
}

form input {
    background-color: white;
    margin-top: 5px;
}

form button {
    width: calc(100% / 10);
}