body {
    background-color: rgba(0, 0, 0, 0.835);
    margin: 0;
}

.container {
    max-width: 1240px;
    margin: 5% 10%;
}

h1 {
    color: white;
    font-size: 1.5rem;
}

.display {
    background-color: white;
    height: 70vh;
    overflow-y: scroll;
}

form {
    display: flex;
}

.input_txt {
    width: 85%;
    height: 40px;
    margin-top: 30px;
}

.btn {
    display: flex;
    flex-direction: column;
    width: 15%;
    margin-top: 30px;
}

.btn label {
    background-color: rgb(240, 240, 240);
    width: 98%;
    height: 20px;
    font-size: 0.6rem;
    text-align: center;
    margin: 0 1px;
}