<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/style.css">
    <title>Document</title>
</head>
<body>
    <main>
        <div class="container">
            <h1>MyApp</h1>
            
            <div class="display">
                {% for word in buff %}
                    {{word}}<br>
                {% endfor %}
            </div>
            
            <form action="/index" method="POST">
                <input class="input_txt" type="text" name="prompt" placeholder="enter prompt">
                <div class="btn">
                    <label>
                        ファイルを選択
                        <input class="upload_file" type="file" name="upload" style="display:none">
                    </label>
                    <button type="submit">送信</button>
                </div>
            </form>
        </div>
    </main>
</body>
</html>